*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
html, body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    border: 0;
}
hr{
    border: none;
}
.show{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: url('../img/home-bg.jpg')no-repeat;
    background-size: cover;  
    background-size: 100% 100%;
}
.show .layer{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.show .head-img{
    margin-top: 180px; 

}
.show .head-img img{
    width: 120px;
    height: 120px;border-radius: 50%;
}
.show .content{
    margin: 20px auto;
    width: 20%;
    color: #fff;
}
.show .content h2{
    letter-spacing: 4px;
    font-weight: 400;
    margin-bottom: 10px;
}
.show .content span{
    font-size: 12px;
    letter-spacing: 2px;
    color: #CCCCCC;
}
.show .content hr,.show .foot hr{
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.show .foot{
    margin: 20px auto;
    width: 15%;
    color: #fff;
}
.show .foot hr{
    width: 50%;
}
.show .foot a{
    text-decoration: none;
}
.show .foot span:hover{
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}