*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
html, body{
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    border: 0;
}
.study #timeline {
    width: 800px;
    list-style: none;
    margin: 50px 0 30px 120px;
    padding-left: 30px;
    border-left: 8px solid #afdcf8;
}
.study #timeline li {
    margin: 40px 0;
    position: relative;
}
.study #timeline p {
    margin: 0 0 15px;
}

.study .date {
    margin-top: -10px;
    top: 50%;
    left: -140px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
    color: #fff;
}

.study .circle {
    margin-top: -10px;
    top: 50%;
    left: -41px;
    width: 15px;
    height: 15px;
    background: #46a4da;
    border: 4px solid #afdcf8;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.study .content {
    padding: 50px 20px;
    max-height: 180px;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    background: #3594cb;
    color: #fff;
    /*overflow: hidden;*/
}
.study .content img{
    float: left;
    margin-right: 10px;
}
.study .content p{
    text-align: left;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.study .content a{
    background: #075498;
    color: #fff;
    padding: 5px 10px;
    float: right;
    border-radius: 5px;
    text-decoration: none;
}
.study .content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    right: 100%;
}
.study .content:after {
    border-right-color: #579dc5;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

.study label {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(7, 84, 152, 0.7) 1px 1px 1px;
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
}
.study .con{
    margin: 20px;
    padding: 1px;
    background: rgba(255,255,255,0.5);
}
.study .con-bor{
    width: 1000px;
    margin: 0 auto;
    background: rgba(255,255,255,0.5);
    overflow: hidden;
}
.study{
    background: url('../img/home-bg.jpg')no-repeat;
    background-size: cover;  
    background-size: 100% 100%;
    background-attachment: fixed;
}
/*.study .layer{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    background-attachment: fixed;
}*/

